BOT_TOKEN=telegram_bot_tokeninizi_buraya_yazin
CHECK_INTERVAL=10
DATA_FILE=products.json
HTTP_TIMEOUT=12
HTTP_RETRIES=2
MIN_PRODUCT_DELAY=3
ACTIVE_CHECK_SECONDS=60
PENDING_RETRY_SECONDS=10
CAPTCHA_BACKOFF_SECONDS=30
MAX_BACKOFF_SECONDS=60
MAX_CONCURRENT_CHECKS=2
MAX_CONCURRENT_CHECKS_CAP=2
MAX_CHECKS_PER_CYCLE=8
MAX_CHECKS_PER_CYCLE_CAP=8
AMAZON_ERROR_BURST_LIMIT=5
AMAZON_GLOBAL_BACKOFF_SECONDS=180
FOLLOWUP_DROP_PERCENT=1
