BOT_TOKEN=telegram_bot_tokeninizi_buraya_yazin
CHECK_INTERVAL=10
DATA_FILE=products.json
HTTP_TIMEOUT=12
HTTP_RETRIES=2
MIN_PRODUCT_DELAY=3
PENDING_RETRY_SECONDS=10
CAPTCHA_BACKOFF_SECONDS=300
MAX_BACKOFF_SECONDS=3600
